body{
    background-color: rgb(56, 49, 49);
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-self: center;
    margin:0;
}
.box{
    margin:auto;
    background-color: rgb(155, 119, 119);
    height:275px;
    width:450px;
    border-radius: 15px;
}
h1{
    color:rgb(100, 6, 93);
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.timer{
    display:flex;
    justify-content:space-around;

}
#Days span,#Hours span,#Minutes span,#Seconds span{
    font-size: xx-large;
}
#Days,#Hours,#Minutes,#Seconds{
    border-radius: 5px;
    background-color: rgb(95, 152, 202);
    height:5em;
    width:4em;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column; 
}
h2{
    text-align: center;
    color:rgb(236, 236, 162);
    font-family: Arial, Helvetica, sans-serif;
}

.pro{
    height:5%;
    width:95%;
    margin:auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow:hidden;
}

#green{
    background-color: rgb(102, 243, 50);
    border-radius: 5px;
    transition: width 1s ease-in-out;
    height:100%;
    width: 0%;
}
/* Times Up animation */
.timesup {
  color: #ff0000;
  font-size: 2rem;
  font-weight: bold;
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 10px;
  animation: bounce 1s ease forwards;
}

@keyframes bounce {
  0% { transform: scale(0.5); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}